<!DOCTYPE html>
<html>
<head>
    <title>Blog Post</title>
    <style>
        * {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }

.btn {
  background-color: green; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  font-size: 10px;
  padding: 16px;
   margin-left:30px
}
.btn2 
{
    background-color: white; 
font-size: 20px;
padding-right: 5px;
 padding:3px;
  border-radius: 10px; 
 font-weight:bolder; 
 color: black;
 margin-bottom: 10px;
 } 
.btn3 {background-color: red;}
.btn4 {background-color: white; color: black; }
.btn5 {background-color: gray; } 

 
  .container {
    width: 500px;
    background-color: peachpuff;
    height: 450px;
    margin: 80px auto;
    border-radius: 10px;
    padding-bottom: 100px;
    border-radius: 0px 30px 0px 30px; 
    border-bottom: 7px solid coral;
    border-right: 7px solid coral;
  }
 .c1{
     width:350px;
     margin:10px;
     padding-bottom: 0px;
     height:120px;

 }
 .column {
  float: left;
  width: 30%;
  padding: 0 10px;}

.c2{
    width:900px;
     margin:50px;
     height:450px;
}

    .title {
    color: black;
    font-size: 25px;
    font-weight: 500;
    text-shadow: 2px 5px grey;
    text-align: center;
    padding-top: 2px;
    overflow-wrap:break-word ;
  }
    .t1{
        text-align: center; 
        text-shadow: 0px 0px;
    }
   .description {
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
   overflow-wrap:break-word ;
  }

      .Creator {
    color: black;
    font-size: 15px;
    font-weight: 400;
    text-align: right;
    padding-right: 20px;
    overflow-wrap:break-word ;
  }

textarea {
  width: 90%;
  height: 180px;
   margin-top: 15px;
  padding: 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
  margin-left: 30px;
}
input[type=text] {
  margin-top: 10px;
  width: 90%;
  padding: 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
  margin-left: 30px;
}
.danger{
  margin-left:30px;
  color: red;
  font-size: 10px;
}
.label{ 
    font-size: 20px;
    font-weight: normal;
    margin-left: 30px;
}

</style>
</head>

<body >
    <div >
        <div >
            {{{body}}}
        </div>
    </div>

</body>

</html>