<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog post</title>
</head>
<body>
  <div class="container ">
     <div  class="title">
         <h1>{{article.Title}}</h1>
     </div>
        <div class="Creator">- {{article.CreatedBy}}</div> 
        <div class="description"> 
            <p>{{article.Description}}</p>
        </div>
     </div>
  </div>
  </div>
</body>
</html>